In [1]:
! pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\kadambari\anaconda3\lib\site-packages (2.2.9)

In [2]:
import mysql.connector
import pandas as pd

In [3]:
mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",
 database="shopping"
)

In [4]:
mycursor = mydb.cursor()

In [5]:
type(mycursor)

mysql.connector.cursor.MySQLCursor

In [6]:
# fetching data from userinfo

In [7]:
mycursor.execute('SELECT * FROM userinfo')

data = mycursor.fetchall()

In [8]:
type(data)

list

In [9]:
len(data)

15

In [10]:
for i in data:
    print(i)

('abulmal', 'Abul', 'abul@ymail.com', '1234', '1144552')
('afifanik', 'Afif', 'afifanik@gmail.com', '44444123', '1122334455')
('ajhga', 'jh', 'hghnb66', 'hgf', 'gfd')
('asd', 'sad', 'asd', 'dsa', 'sad')
('bb', 'Black Bengal ', 'afifanik@gmail.com', '12345', '1122334455')
('bbm', 'Black Bengal Man', 'afifanik@gmail.com', '12345', '1122334469')
('bolod', 'Oyan', 'bolod@gmail.com', '1234', '1234')
('jsdg', 'jha', 'asd', 'ashgf', 'lk')
('kajdhs', 'Abul', 'jhg@jhasg.com', '231423', '11223344')
('nobab', 'Sirajuddowla', 'afifanik@gmail.com', '12345', '1122334455')
('rony', 'Anisur Rahman Rony', 'anisurrahmanrony3@gmail.com', 'rony', '123')
('sdf', 'fdg', 'sdfg', 'sdf', 'dsf')
('steve', 'Steve Smith', 'steve@test.com', 'steve', '')
('tony', 'Tony Stark', 'tony@gmail.com', 'tony', '')
('xxxy', 'XXX', 'xxx@y.com', '1235', '')

In [11]:
for i in data:
    print(i[2],i[3])

abul@ymail.com 1234
afifanik@gmail.com 44444123
hghnb66 hgf
asd dsa
afifanik@gmail.com 12345
afifanik@gmail.com 12345
bolod@gmail.com 1234
asd ashgf
jhg@jhasg.com 231423
afifanik@gmail.com 12345
anisurrahmanrony3@gmail.com rony
sdfg sdf
steve@test.com steve
tony@gmail.com tony
xxx@y.com 1235

In [12]:
#fetching data from billing

In [13]:
mycursor.execute('SELECT * FROM billing')

data_billing = mycursor.fetchall()

In [14]:
data_billing

[(7, 'xxxy', 23900, 'Wed Aug 02 22:18:18 BDT 2017'),
 (8, 'xxxy', 900, 'Wed Aug 02 22:19:08 BDT 2017'),
 (9, 'admin', 48244, 'Wed Aug 02 22:32:03 BDT 2017'),
 (10, 'bb', 38500, 'Wed Aug 02 22:46:15 BDT 2017'),
 (11, 'bb', 36000, 'Wed Aug 02 22:49:25 BDT 2017'),
 (12, 'bbm', 217020, 'Wed Aug 02 23:59:04 BDT 2017'),
 (13, 'admin', 36630, 'Thu Aug 03 00:02:21 BDT 2017'),
 (14, 'steve', 10900, 'Wed May 15 20:17:17 NPT 2019')]

In [15]:
for i in data_billing:
    print(i[0],i[1],i[2],i[3])

7 xxxy 23900 Wed Aug 02 22:18:18 BDT 2017
8 xxxy 900 Wed Aug 02 22:19:08 BDT 2017
9 admin 48244 Wed Aug 02 22:32:03 BDT 2017
10 bb 38500 Wed Aug 02 22:46:15 BDT 2017
11 bb 36000 Wed Aug 02 22:49:25 BDT 2017
12 bbm 217020 Wed Aug 02 23:59:04 BDT 2017
13 admin 36630 Thu Aug 03 00:02:21 BDT 2017
14 steve 10900 Wed May 15 20:17:17 NPT 2019

In [16]:
#fetching data from electronics

In [17]:
mycursor.execute('SELECT * FROM electronics')

data_electronics = mycursor.fetchall()

In [18]:
for i in data_electronics:
    print(i)

(7, 'Nikon', 'F2', 10000, 48, 'Interchangeable viewfinders\n50mm 1.4 lens\n street-photography setup', 'DSLR.jpg')
(10, 'American Gas Machine', 'Co Albert Lea Minn Door ', 1200, 32, 'Vintage Gas-Powered Kitchen Iron', 'Iron.jpg')
(13, 'LG Microwave', 'MC3286BRUM', 25000, 100, 'Best product at this price!', 'microwave oven.jpg')
(14, 'Godrej Fridge', 'A53GGF12', 47000, 99, 'Check this out!', 'Godrej Fridge.jpg')
(15, 'Godrej AC', 'M348JJK13', 40000, 97, 'Check this out!', 'Godrej Ac.jpg')
(16, 'Nikon dslr', 'H64646HG1', 60000, 91, 'Check this out!', 'nikon dslr.jpg')

In [19]:
for i in data_electronics:
    print(i[0],i[1])

7 Nikon
10 American Gas Machine
13 LG Microwave
14 Godrej Fridge
15 Godrej AC
16 Nikon dslr

In [20]:
# Join billing and electronics

In [21]:
query1='SELECT uname, bill,date FROM billing e JOIN electronics u ON u.id=e.id'


#q= 'SELECT *FROM billing JOIN electronics ON billing.uname = electronics.mbrand'

In [22]:
mycursor.execute(query1)
data = mycursor.fetchall()

In [23]:
for i in data:
    print(i)

('xxxy', 23900, 'Wed Aug 02 22:18:18 BDT 2017')
('bb', 38500, 'Wed Aug 02 22:46:15 BDT 2017')
('admin', 36630, 'Thu Aug 03 00:02:21 BDT 2017')
('steve', 10900, 'Wed May 15 20:17:17 NPT 2019')

In [24]:
uname = []
bill = []
date = []

for i in data:
    uname.append(i[0])
    bill.append(i[1])
    date.append(i[2])

d = {'uname': uname, 'bill': bill, 'date': date}

df = pd.DataFrame(d)

print(df)

   uname   bill                          date
0   xxxy  23900  Wed Aug 02 22:18:18 BDT 2017
1     bb  38500  Wed Aug 02 22:46:15 BDT 2017
2  admin  36630  Thu Aug 03 00:02:21 BDT 2017
3  steve  10900  Wed May 15 20:17:17 NPT 2019

In [25]:
df.to_csv('shopping.csv')